@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme inline {
  /* Fonts */
  --font-display: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-text: neue-haas-grotesk-text, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  /* Brand Colors */
  --color-brand-50: #fff8ec;
  --color-brand-100: #ffefd3;
  --color-brand-200: #ffdaa5;
  --color-brand-300: #ffbf6d;
  --color-brand-400: #ff9832;
  --color-brand-500: #ff790a;
  --color-brand-600: #ff6000;
  --color-brand-700: #cc4402;
  --color-brand-800: #a1350b;
  --color-brand-900: #822e0c;
  --color-brand-950: #461404;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
